/* Default */
body{
	background: #c8f6ff;
	background-image: url("background.png");
	background-repeat: repeat;
}

/*
img.content{
	width:100%;
	margin-top: -10px;
}
*/

/* Desktops (desktops, 992px and up) */
div.container {
    display: block;
	margin: auto;
	width: 992px;
	margin-top: -10px;
	position:relative;

	text-align: center;
	font-family: 'Play', arial;
	font-size:22px;
}

div.container span {
	font-size:16px;
}

div.container img {
	border:4px solid #bbdfff;
}

div.tag {


    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

